<launch>
  <!-- LWR driver -->
  <node name="LWR_FRI" pkg="lwr_driver" type="lwr_driver" output="screen" >
    <param name="port" value="49938"/>
    <param name="host_hint" value="192.168.0.1"/>
    <rosparam command="load" ns="" file="$(find lwr_driver)/config/joint_limits.yaml" />
  </node>

  <param name="robot_description" textfile="$(find kuka_lwr4_description)/robots/lwr_robotiq_3finger.urdf" />

  <!-- trajectory controller -->
  <node pkg="lwr_driver" type="trajectory.py" name="trajectory" output="screen" />

  <!-- state publisher -->
  <!-- KUKA -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Robotiq -->
  <node name="robotiq3f_status" pkg="robotiq_joint_state_publisher" type="s_model_joint_states" 
  output="screen">
    <param name="prefix" type="str" value="robotiq_" />
  </node>

  <!-- MoveIt! -->
  <include file="$(find kuka_launch)/launch/moveit_robotiq.launch" />
</launch>
